<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="jameica.ca" version="1.0" class="de.willuhn.jameica.ca.Plugin"
  xmlns="http://www.willuhn.de/schema/jameica-plugin" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin ">

  <description>Jameica Certificate Management Tool</description>
  <url>https://www.willuhn.de/products/jameica/releases/nightly/jameica.ca-1.0-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/jameica/extensions.php#jameica.ca</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="1.9+">
  </requires>

  <classfinder>
    <include>jameica\.ca\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <navigation>
    <item id="jameica.ca.navi.entrylist" name="Zertifikate" action="de.willuhn.jameica.ca.gui.action.EntryList" icon-close="key-ring.png" />
    <item id="jameica.ca.navi.entrytree" name="Zertifikate (Baumansicht)" action="de.willuhn.jameica.ca.gui.action.EntryTree" icon-close="key-ring.png" />
  </navigation>
  
  <services>
    <service name="store" autostart="true" class="de.willuhn.jameica.ca.service.StoreService" />
  </services>
  
</plugin>


